[submodule "CardDAV-PHP"]
	path = CardDAV-PHP
	url = git@github.com:xbgmsharp/CardDAV-PHP.git
[submodule "include/CardDAV-PHP"]
	path = include/CardDAV-PHP
	url = git@github.com:xbgmsharp/CardDAV-PHP.git
[submodule "include/vCard-parser"]
	path = include/vCard-parser
	url = git@github.com:xbgmsharp/vCard-parser.git
